body{
    background: black;
}

.img{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.g1{
    width: 256px;
    height: 171px;
}

.g2{
    width: 256px;
    height: 171px;
}

.g3{
    width: 256px;
    height: 171px;
}

img:hover{
    opacity: .8s;
    transition: .9s;
}

.Video{
    margin-left: 80px;
    margin-bottom: 50px;
}